@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Recipe Quest respects your privacy and does not collect personal data. The only exception is your email, if you choose to register on this site.
</p>
